<html>
  <head>
      <title>About</title>
      <script src="/js/about.js"></script>
  </head>
  <body>
    <h1>About</h1>
    {{#each repos}}
      <a href="http://github.com/gpulch/{{this.name}}">{{this.name}}</a>
    {{/each}}

  </body>
</html>