<html>
    <head>
        <title>Contact</title>
        <script src="/js/contact.js"></script>
    </head>
    <body>
        <h1>Contact</h1>
        <p>Vous pouvez nous contacter par mail en cliquant <a href="mailto:tkt@hotmail.com" >ici</a> ou bien en remplissant ce formulaire :</p>


        <form action="/contact" method="POST">
            <p>name :</p>
        <input type="text" name="name" id="name">
        <p>email :</p>
        <input type="text" name="email" id="email">
        <p>message :</p>
        <textarea name="message" id="message" cols="30" rows="10"></textarea>
        <input type="submit" value="Envoyer">
        </form>
    </body>
</html>