<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src='./home/home.js' defer></script>
    <link rel='stylesheet' href="./home/home.css" defer>
    <link rel='stylesheet' href="./index.css">
</head>
<body>
      <header>   
        <div id="title">
          <h1>Meteo.io</h1> 
       </div>
       <div id="navbar">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
       </div>
    </header> 

    <h1>Récupérez la météo avec notre super app.</h1>

<form action="/addCity" method="POST">
    <input type="text" name="city" id="city">
    <input type="submit" value="Rechercher">
    <ul class="history">
        <ul id="history">
            {{#each history}}
                <li>{{this.city}}</li>
                {{else}}
                <li>Aucune ville recherchée</li>
            {{/each}}
        </ul>
    </ul>
</form>
<h1>Météo à {{city}} :</h1>
<h2>Température : {{temperature}}°C</h2>
</body>
</html>
