<html>
    <head>
        <title>Thanks</title>
        <script src="/js/thanks.js"></script>
    </head>
    <body>
        <h1>Thanks</h1>
        <p>Merci pour votre message {{name}}!</p>
    </body>
</html>