/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  /* min-height: 100vh; */
  font-family: 'Roboto', sans-serif;
  background: rgb(0,56,255);
  background: linear-gradient(93deg, rgba(0,56,255,1) 0%, rgba(0,212,255,1) 100%);
}

/* Path: index.css */


